:root {
	/* ### Colors ###  */

	/* ## Primary ##  */
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--white: hsl(0, 0%, 100%);

	/* ## Neutral ##  */
	--light-gray: hsl(0, 0%, 81%);
	--light-grayish-blue: hsl(210, 46%, 95%);

	/* ### typography ###  */

	/* Note for text colors:
    1. "Verified Graduate" has the same color as the person's name with 50% opacity
    2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

	--fs-body: 0.81rem;
	--ff-primary: 'Barlow Semi Condensed', sans-serif;

	--spacer: 1.5rem;
}

/* general style and structure  */

html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--light-grayish-blue);
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.63em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	width: 90%;
	max-width: 1160px;
	margin: 0 auto;
}

/* profile section  */

.profile-div {
	font-weight: 500;
	line-height: 1rem;
	margin-bottom: 1.13em;

	display: flex;
	align-items: center;
}

.profile-img-div {
	width: 28px;
	height: 28px;
	border: 0.13rem solid hsl(264, 82%, 70%);
	border-radius: 50%;
	margin-right: 1.06em;
}

.profile-img {
	width: 100%;
	max-width: 28px;
	border-radius: 50%;
}

.profile-img-div-2,
.profile-img-div-3,
.profile-img-div-5 {
	border: none;
}

.profile-text h3 {
	font-weight: 500;
	color: var(--white);
}

.profile-text h4 {
	font-size: 0.69rem;
	font-weight: 500;
	color: var(--white);
	opacity: 50%;
}

.card-3 .profile-text h3,
.card-5 .profile-text h3 {
	color: var(--very-dark-grayish-blue);
}

.card-3 .profile-text h4,
.card-5 .profile-text h4 {
	color: var(--very-dark-grayish-blue);
}

/* card section  */

.card {
	border-radius: 0.5rem;
	box-shadow: 40px 60px 50px -47px hsla(217, 19%, 35%, 0.25);
}

.card > blockquote {
	margin: 1em 0 2em;
}

.card + .card {
	margin-top: var(--spacer);
}

figcaption {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5rem;
}

.card-1 figcaption,
.card-2 figcaption,
.card-4 figcaption {
	color: var(--white);
}

.card-3 figcaption,
.card-5 figcaption {
	color: var(--very-dark-grayish-blue);
}

.card-1 blockquote,
.card-2 blockquote,
.card-4 blockquote {
	color: var(--light-gray);
	opacity: 70%;
}

.card-3 blockquote,
.card-5 blockquote {
	color: var(--very-dark-grayish-blue);
	opacity: 70%;
}

.card-1 {
	position: relative;
	z-index: 3;

	background-color: var(--moderate-violet);
	padding: 1.63em 2em 2em;
	margin: 2.5em 0 2em;
}

.card-1::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url('../images/bg-pattern-quotation.svg');
	background-repeat: no-repeat;
	background-position: top right 10%;
	z-index: -1;
}

.card-2 {
	background-color: var(--very-dark-grayish-blue);
	padding: 1.63em 2em 2em;
}

.card-3 {
	background-color: var(--white);
	padding: 1.63em 2em;
}

.card-4 {
	background-color: var(--very-dark-blackish-blue);
	padding: 1.63em 2em;
}

.card-5 {
	background-color: var(--white);
	padding: 1.63em 2em;
}

/* footer section  */

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* tablet design  */

@media screen and (min-width: 46em) {
	.d-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(min-content, 1fr));
		grid-template-rows: repeat(3, minmax(min-content, 20em));
		gap: 1.5rem;
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.card + .card {
		margin-top: 0;
	}

	.card > blockquote {
		margin: 0;
	}

	.card-1 {
		padding: 1.63em 2em 2em;
		margin: 0;

		grid-column: 1 / span 2;
	}

	.card-2 {
		padding: 1.63em 2em 2em;
	}

	.card-3 {
		padding: 1.63em 2em;
	}

	.card-4 {
		padding: 1.63em 2em;

		grid-column: 2 / span 2;
		grid-row: 2;
	}

	.card-5 {
		padding: 1.63em 2em;

		grid-column: 1 / -1;
		grid-row: 3;
	}
}

/* desktop design  */

@media screen and (min-width: 65em) {
	main {
		margin: 0 2em;
	}

	.container {
		width: 100%;
	}

	.d-grid {
		/* grid-template-columns: 1fr minmax(min-content, 17.34rem) 1fr minmax(min-content, 17.34rem); */
		grid-template-columns: 1fr repeat(2, 16.08rem) 1fr;
		grid-template-rows: repeat(2, minmax(min-content, 17.88rem));
		gap: 1.88rem 1.5rem;
	}

	.card + .card {
		margin-top: 0;
	}

	.card-1 {
		padding: 1.63em 2em 2em;
		margin: 0;

		grid-column: 1 / 3;
	}

	.card-2 {
		padding: 1.63em 2em 2em;

		grid-column: 3;
	}

	.card-3 {
		padding: 1.63em 2em;

		grid-row: 2;
	}

	.card-4 {
		padding: 1.63em 2em;

		grid-column: 2 / span 2;
		grid-row: 2;
	}

	.card-5 {
		padding: 1.63em 2em;

		grid-column: 4;
		grid-row: 1 / span 2;
	}
}
